/* 1. Definimos la animación de ancho */
@keyframes progress-fill {
  from { width: 0; }
}

/* 2. Estado inicial de las barras (sin ancho) */
.progress-bar {
  width: 0; 
}

/* 3. Cuando AOS activa la sección, animamos hasta el ancho definido en el HTML */
.aos-animate .progress-bar {
  animation: progress-fill 1.5s ease-out forwards !important;
  /* El ancho final lo tomará automáticamente del atributo style del HTML */
  width: var(--final-width); 
}

.progress {
  height: 8px !important;
  background-color: #1a1a1a !important;
  border-radius: 10px !important;
  overflow: visible !important; /* Para evitar que se corte la animación */
}

.progress-bar {
  background-color: #EE3867 !important;
  border-radius: 10px !important;
}



.custom-tools
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}
.custom-tools img
{
    cursor: pointer;
}
.custom-img-white
{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(86deg) brightness(106%) contrast(101%);
}
.list-style-2.list-style-light>li:last-child
{
    border: none !important;
}
.card-gallery
{
 cursor: pointer;
 position: relative;
}
.back-content {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    text-align: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

.card-gallery:hover .back-content {
    display: flex;
    opacity: 1;
}

.card-gallery .back-content {
    display: flex;
    opacity: 0;
}

.card-gallery:hover .back-content {
    display: flex;
    opacity: 1;
}

.card-gallery .back-content {
    transition: opacity 0.7s ease-in-out;
}

#particleCanvas {
  z-index: 1; /* Encima del fondo (hero-bg) */
  pointer-events: none; /* Permite hacer clic en los botones del banner */
}

.hero-mask {
  z-index: 0; /* Aseguramos que la máscara esté al fondo */
}

.hero-content {
  z-index: 2; /* El texto y botones siempre al frente */
  position: relative;
}

@keyframes hover-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
